<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fof.dao.TradeFlowImpressMapper">
 
 <sql id="Base_Column_List">
    id, tradeflowId, createTime, updateTime, operateUserId, operateUserName, fileName, 
    fileCode, attachmentId, cachetStatus, personalSealStatus, opreaterSealStatus
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long"  resultType="com.fof.entity.TradeFlowImpress">
    select 
    <include refid="Base_Column_List" />
    from trade_flow_impress
    where id = #{id,jdbcType=BIGINT}
  </select>
 
<insert id="insert" useGeneratedKeys="true"  keyProperty="id" parameterType="com.fof.entity.TradeFlowImpress">
    insert into trade_flow_impress (tradeflowId, createTime, 
      updateTime, operateUserId, operateUserName, 
      fileName, fileCode, attachmentId, 
      cachetStatus, personalSealStatus, opreaterSealStatus
      )
    values (#{tradeflowId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{operateUserId,jdbcType=BIGINT}, #{operateUserName,jdbcType=VARCHAR}, 
      #{fileName,jdbcType=VARCHAR}, #{fileCode,jdbcType=INTEGER}, #{attachmentId,jdbcType=BIGINT}, 
      #{cachetStatus,jdbcType=INTEGER}, #{personalSealStatus,jdbcType=INTEGER}, #{opreaterSealStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true"  keyProperty="id"  parameterType="com.fof.entity.TradeFlowImpress">
    insert into trade_flow_impress
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tradeflowId != null">
        tradeflowId,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="operateUserId != null">
        operateUserId,
      </if>
      <if test="operateUserName != null">
        operateUserName,
      </if>
      <if test="fileName != null">
        fileName,
      </if>
      <if test="fileCode != null">
        fileCode,
      </if>
      <if test="attachmentId != null">
        attachmentId,
      </if>
      <if test="cachetStatus != null">
        cachetStatus,
      </if>
      <if test="personalSealStatus != null">
        personalSealStatus,
      </if>
      <if test="opreaterSealStatus != null">
        opreaterSealStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tradeflowId != null">
        #{tradeflowId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateUserId != null">
        #{operateUserId,jdbcType=BIGINT},
      </if>
      <if test="operateUserName != null">
        #{operateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileCode != null">
        #{fileCode,jdbcType=INTEGER},
      </if>
      <if test="attachmentId != null">
        #{attachmentId,jdbcType=BIGINT},
      </if>
      <if test="cachetStatus != null">
        #{cachetStatus,jdbcType=INTEGER},
      </if>
      <if test="personalSealStatus != null">
        #{personalSealStatus,jdbcType=INTEGER},
      </if>
      <if test="opreaterSealStatus != null">
        #{opreaterSealStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fof.entity.TradeFlowImpress">
    update trade_flow_impress
   <trim prefix="set" suffixOverrides=",">
      <if test="tradeflowId != null">
        tradeflowId = #{tradeflowId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateUserId != null">
        operateUserId = #{operateUserId,jdbcType=BIGINT},
      </if>
      <if test="operateUserName != null">
        operateUserName = #{operateUserName,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        fileName = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileCode != null">
        fileCode = #{fileCode,jdbcType=INTEGER},
      </if>
      <if test="attachmentId != null">
        attachmentId = #{attachmentId,jdbcType=BIGINT},
      </if>
      <if test="cachetStatus != null">
        cachetStatus = #{cachetStatus,jdbcType=INTEGER},
      </if>
      <if test="personalSealStatus != null">
        personalSealStatus = #{personalSealStatus,jdbcType=INTEGER},
      </if>
      <if test="opreaterSealStatus != null">
        opreaterSealStatus = #{opreaterSealStatus,jdbcType=INTEGER},
      </if>
 </trim>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <select id="selectOneByCondition" resultType="com.fof.entity.TradeFlowImpress">
      select id, tradeflowId, createTime, updateTime, operateUserId, operateUserName, fileName, 
     fileCode, attachmentId, cachetStatus, personalSealStatus, opreaterSealStatus account
			<where>
		        <if test="tradeflowId != null">
       and tradeflowId = #{tradeflowId,jdbcType=BIGINT}
      </if>
     
      <if test="operateUserId != null">
       and  operateUserId = #{operateUserId,jdbcType=BIGINT}
      </if>
     
      <if test="fileCode != null">
      and  fileCode = #{fileCode,jdbcType=INTEGER}
      </if>
      <if test="attachmentId != null">
      and  attachmentId = #{attachmentId,jdbcType=BIGINT}
      </if>
      <if test="cachetStatus != null">
      and  cachetStatus = #{cachetStatus,jdbcType=INTEGER}
      </if>
      <if test="personalSealStatus != null">
      and   personalSealStatus = #{personalSealStatus,jdbcType=INTEGER}
      </if>
      <if test="opreaterSealStatus != null">
       and   opreaterSealStatus = #{opreaterSealStatus,jdbcType=INTEGER}
      </if>
   	   </where>
   	   order by id desc 
       limit 1 ;
	</select>
	   <select id="selectListByCondition" resultType="com.fof.entity.TradeFlowImpress">
      select id, tradeflowId, createTime, updateTime, operateUserId, operateUserName, fileName, 
     fileCode, attachmentId, cachetStatus, personalSealStatus, opreaterSealStatus account
			<where>
		       <if test="tradeflowId != null">
       and tradeflowId = #{tradeflowId,jdbcType=BIGINT}
      </if>
     
      <if test="operateUserId != null">
       and  operateUserId = #{operateUserId,jdbcType=BIGINT}
      </if>
     
      <if test="fileCode != null">
      and  fileCode = #{fileCode,jdbcType=INTEGER}
      </if>
      <if test="attachmentId != null">
      and  attachmentId = #{attachmentId,jdbcType=BIGINT}
      </if>
      <if test="cachetStatus != null">
      and  cachetStatus = #{cachetStatus,jdbcType=INTEGER}
      </if>
      <if test="personalSealStatus != null">
      and   personalSealStatus = #{personalSealStatus,jdbcType=INTEGER}
      </if>
      <if test="opreaterSealStatus != null">
       and   opreaterSealStatus = #{opreaterSealStatus,jdbcType=INTEGER}
      </if>
   	   </where>
   	   order by id desc;
	</select>
	
	

</mapper>